/*
 * The Critic CSS
 */

/* Sticky Footer */

@font-face {
  font-family: 'Noto Sans Malayalam';
  src: url('m-font/NotoSansMalayalam-Bold.ttf'),;
  src: url('m-font/NotoSansMalayalam-Regular.ttf'),
       url('m-font/NotoSansMalayalamUI-Bold.ttf'), 
       url('m-font/NotoSansMalayalamUI-Regular.ttf') 
      
}
html{overflow-x: hidden!important;}
body{background-color: #fff!important;font-family: "Noto Sans Malayalam", sans-serif!important;
  font-size: 16px;line-height: 1.4; overflow-x: hidden!important; word-wrap: break-word;
  text-size-adjust: none;}

 
p,h1,h2,h3,h4,h5,h6{font-family: "Noto Sans Malayalam", sans-serif!important;
   
}

h1,h2,h3,h4,h5,h6{font-weight:400!important;}

#content{ margin-right: 0!important;}

article p{font-size: .9rem!important;
   line-height: 1.6!important;
   margin-bottom:2rem;
   }


a{color: #000;} a:hover{color: #0982a1;text-decoration: none;}

h1{font-size:1.1rem;}
h2{font-size: 1.2rem;}
h4{font-size: 1rem; line-height: 1.3;}
h6{font-size: .90rem;line-height: 1.3; /*font-weight: bold;*/}


.sidebar h4 {font-size: .9rem!important}

.disclimer{margin-top: 1.5rem; padding: 12px; color:#b74949!important ; border: 1px red solid;}
.badge, .badge a  {color: #fff!important;
 font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-weight: 100}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}



.post_link{font-size: .84rem!important;}
* {
  border-radius: 0 !important;
}
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}


.navbar > .container, .navbar > .container-fluid{display:flex; flex-flow: row wrap;}

.navbar-collapse{background: #000; padding-bottom: 8px;padding-top: 4px;}

.navbar-expand-md .navbar-nav .nav-link {color: #fff;}

.navbar-expand-md .navbar-nav .nav-link:hover{color: red;}

.site-header-image {
  display: block;
  margin: auto;
}


.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  clear: both;
  display: block;
}

/* Max img widths */

img,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

/* Author bio */

.author-bio .avatar {
  border: 1px solid #dee2e6;
  border-radius: 50%;
}

/* Main content */

/* Sidebar */

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */

/* Comments */

#comments,
#reply-title {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.commentlist,
.commentlist ul {
  padding-left: 0;
}

.commentlist li {
  padding: 1rem;
}

.comment-meta {
  margin-bottom: 1rem;
}

.comment > .children {
  margin-top: 1rem;
  margin-right: -0.625rem;
  margin-bottom: -1.625rem;
}
/* Site footer */


/*.form-control {
    
    font-size: .8rem;
    font-weight: 400;
   }*/

.navbar-expand-md .navbar-nav .nav-link{padding-bottom: 0px!important;
 text-transform: capitalize;}

/*.card:hover{
-webkit-box-shadow: -1px 9px 10px 4px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 9px 10px 4px rgba(0,0,0,0.75);
box-shadow: -1px 9px 10px 4px rgba(0,0,0,0.75);
}*/

/*.form-inline .form-control{font-size: .7rem;}*/

.bx{position: relative;}

.cat-box{position: absolute; bottom: 0;left: 0}



.fakeimg {
    height: 200px;
    background: #aaa;
  }


.slick-slide {
    margin: 0px 3px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
  
.key-post-slider .card-body{height: 160px!important;background: #f2f4f6 !important}
#featured .card-body{height:150px!important }
#recent h6 {font-size: .8rem!important;font-weight:bold ;}

article .card-text{font-size: .76rem!important; padding: 8px;}

/*Largr DEvices*//*Largr DEvices*//*Largr DEvices*/
/*Largr DEvices*//*Largr DEvices*//*Largr DEvices*/
/*Largr DEvices*//*Largr DEvices*//*Largr DEvices*/
@media (min-width: 1200px) {
    



  h1,h2,h3,h4,h5,h6{font-weight:bold!important;}

  article p {
    font-size: 1rem!important;
    line-height: 1.6!important;
}

.tl-height{max-height: 179px!important}

/* .navbar-brand{ width:80px!important; margin-right:6px!important;} */

h1{font-size:1.6rem;}
h2{font-size: 1.2rem;}
h4{font-size: 1rem; line-height: 1.3;}
h6{font-size: .90rem;line-height: 1.3; /*font-weight: bold;*/}




.divider{border-bottom: 2px solid #000;height: 20px;}



.navbar-expand-md .navbar-nav .nav-link{font-size: 1rem !important}


/*#main .card {border: none!important}*/


.header-box{height: 30px;
 border-bottom: 1px solid #000; border-top:1px solid #000; padding: 8px 12px 16px 10px;
}


.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-dark .nav-item:hover {
    color: red;
}
.navbar-dark .nav-item {border-right: 1px solid #fff;}


/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

.rlp{padding-left: 1.5rem!important}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .rlp{padding-left: 0px!important}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .rlp{padding-left: 0px!important}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

  

 }
*/

.rlp{padding-left: 0px!important}


.navbar-expand-md .navbar-nav .nav-link{font-size: .94rem !important;}




.widgets_on_page > ul {
    padding-left: 0!important;
}

.widgets_on_page h4 {color: red ; font-size: 1.26rem;}

}

#qt_content_peb_0, #qt_content_peb_1, #qt_content_peb_2 {
background-color:#fff!important;
color:white!important;
padding: 6px!important;
font-weight: bolder!important;}

